<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar sesión</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-list>
      <ion-item>
        <ion-input labelPlacement="floating" value="">
          <div slot="label">Nombre de usuario <ion-text></ion-text></div>
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-input labelPlacement="floating" value="">
          <div slot="label">Contraseña<ion-text ></ion-text></div>
        </ion-input>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
