<ion-content class="fondo">
  <ion-card color="warning">
    <ion-card-header>
      <img src="../../assets/icon/1698321781740.png" alt="">
    </ion-card-header>
  </ion-card>
  
  
  <ion-input class="my-custom-input" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingresar usuario" style="--color: black; --border-width: 2px;"></ion-input>
  <br>
  <ion-input class="my-custom-input" label="Numero de Telefono" label-placement="floating" fill="outline" placeholder="Ingresar usuario" style="--color: black; --border-width: 2px;"></ion-input>
  <br>
  <ion-input class="my-custom-input" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresar usuario" style="--color: black; --border-width: 2px;"></ion-input>

  <br />


  <ion-button>Registrar Proveedor</ion-button>
  
  
  </ion-content>